/node_modules
/public/hot
/public/storage
/public/js/app.js
/public/css/app.css
/storage/*.key
/public/ck
/vendor
/.idea
/.vagrant
.gitignore
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
package.json
composer.lock

